<form class="mt-4 container" name="container-form" method="post" action="/products/handle-form-actions">
  <div>
    <div class="div d-flex justify-content-between">
      <h3>Sản phẩm của tôi</h3>
      <a href="/products/create" class="btn btn-primary">Thêm Sản Phẩm</a>
    </div>
    <a href="/me/trash/products">Thùng rác ({{deletedCount}})</a>
    <div class="mt-4 d-flex align-items-center">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
        <label class="form-check-label" for="checkbox-all">
          Chọn tất cả
        </label>
      </div>
      <select name="action" class="form-control form-control-sm checkbox-all-options" required>
        <option value="">--Chọn hành động</optionv>
        <option value="delete">Xóa</option>
      </select>
      <button class="btn btn-primary btn-sm check-all-submit-btn" disabled>Thực hiện</button>
    </div>
  </div>
    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">#</th>
                <th scope="col">Tên sản phẩm
                {{{sorttable 'name' _sort}}}   
                </th>
                <th scope="col">Giá bán
                {{{sorttable 'price' _sort}}}
                </th>
                <th scope="col">Ảnh</th>
                <th scope="col">Số lượng
                {{{sorttable 'quantity' _sort}}}   
                </th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {{#each products}}
            <tr>
                <td>
                  <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="productsIds[]" value="{{this._id}}">
                  </div>  
                </td>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.price}}</td>
                <td>
                  <a href="/products/{{this.slug}}" class="">
                    <img class="me-store-img" src="/uploads/{{this.img}}" alt="{{this.name}}">
                  </a>
                </td>
                <td>{{this.quantity}}</td>
                <td>
                    <a href="/products/{{this._id}}/edit" class="btn btn-primary">Sửa</a>
                    <a href="" data-toggle="modal" data-target="#delete-product-modal" data-id ="{{this._id}}" class="btn btn-warning">Xóa</a>
                </td>
            </tr>
            {{else}}
            <tr>
              <td colspan="5" class="text-center">
                Bạn chưa đăng sản phẩm nào.
                <a href="/products/create">Đăng sản phẩm</a>
              </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</form>
    {{!-- Delete modal --}}
<div id="delete-product-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xóa sản phẩm</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Bạn chắc chắn muốn xóa sản phẩm này?</p>
      </div>
      <div class="modal-footer">
        <button id="btn-delete-product" type="button" class="btn btn-danger">Xóa bỏ</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>

{{!-- Delete Hiden Form --}}
<form name="delete-product-form" method="post">
</form>

<script>
    //
    document.addEventListener("DOMContentLoaded", function(){
        var product_id  
        var deleteForm = document.forms["delete-product-form"]
        var productItemCheckbox = $('input[name="productsIds[]"]')
        var checkAllSubBtn = $('.check-all-submit-btn')
        var containerForm = $('form[name="container-form"]')
        var checkboxAll = $('#checkbox-all')

        $("#delete-product-modal").on('show.bs.modal', function(event){
          var button = $(event.relatedTarget);
          product_id = button.data("id");
        })
        //
        var btnDeleteProduct = document.getElementById("btn-delete-product")
        btnDeleteProduct.onclick = function(){
            console.log(product_id);
            deleteForm.action = "/products/" + product_id + "?_method=DELETE";
            deleteForm.submit()
        }
        //

        // when the checkbox all click
        checkboxAll.change(function(){
          var isChecked = $(this).prop("checked")
          productItemCheckbox.prop("checked",isChecked);
          renderCheckAllSubmitBtn()
        })
        // when checkbox item check
        productItemCheckbox.change(function(){
          var isCheckAll = productItemCheckbox.length === $('input[name="productsIds[]"]:checked').length
          checkboxAll.prop("checked",isCheckAll);
          renderCheckAllSubmitBtn()
        })
        function renderCheckAllSubmitBtn() {
          var checkedCount = $('input[name="productsIds[]"]:checked').length
          if(checkedCount > 0) {
            checkAllSubBtn.attr('disabled', false);
          }
          else {
            checkAllSubBtn.attr('disabled', true);
          }
        }
    })

</script>