
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <div style="background-image: url(/img/Slide2.jpg)" class="slide-wrap d-block w-100"></div>
    </div>
    <div class="carousel-item">
        <div style="background-image: url(/img/slide1.jpg)" class="slide-wrap d-block w-100"></div>
    </div>
    <div class="carousel-item">
        <div style="background-image: url(/img/slide3.jpg)" class="slide-wrap d-block w-100"></div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div class="container">
    <div class="slider-header mt-4 mb-4">
        <div class="slider-header-now ml-4">
            <i class="ti-home"></i>
            <span> Trang Chủ</span>
            <span>/ Sản phẩm mới:</span>
            <span>{{productsCount}}</span>
        </div>
        <div class="filter-product">
            <nav class="filter-product-search navbar navbar-light bg-light">
                <form class="form-inline" method="get" action="/search">
                    <input class="form-control mr-sm-2"
                    name="q" type="search" placeholder="Tìm kiếm sản phẩm"
                    aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Tìm</button>
                </form>
            </nav>
             <div class="filter-product-sort nav-item dropdown">
                <a class="nav-link dropdown-toggle text-color" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sắp sếp theo
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {{{sorttableHome 'price' _sort 'Giá sản phẩm'}}} 
                {{{sorttableHome 'updatedAt' _sort 'Thời gian đăng bán'}}}
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        {{#if products}}
        {{#each products}}
        <div class="col-lg-3 col-sm-6">
            <div class="product-box">
                <div class="product-thumbnail">
                    <a href="/products/{{this.slug}}" class="product-link">
                        <div style="background-image: url(/uploads/{{this.img}})" class="product-img"></div>
                    </a>
                </div>  
                <div class="product-info">
                    <p class="product-name">    
                        {{this.name}}
                    </p>
                    <div class="price-box">{{this.price}}</div>
                </div>
            </div>
        </div>
        {{/each}}
        {{else}}
        <p class="mx-auto">Chưa có sản phẩm!!
            <a href="/products/create">Đăng sản phẩm</a>
        </p>
        {{/if}}
    </div>
</div>
